<div class="example-container">
    <mat-toolbar>
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">NUEVO CORTE</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-form-field>
        <mat-label>Personal</mat-label>
        <input matInput [(ngModel)]="nuevoCorte.persona">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Soles Entrada</mat-label>
        <input type="number" matInput [(ngModel)]="nuevoCorte.solesentrada">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Galones Entrada</mat-label>
        <input type="number" matInput [(ngModel)]="nuevoCorte.galinicio">
    </mat-form-field>
    
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" mat-raised-button color="accent">SALIR</button>
    <button [mat-dialog-close]="nuevoCorte" mat-raised-button color="primary" cdkFocusInitial>ACEPTAR</button>
</div>