<div class="mat-elevation-z8">
  <div class="lista">
    <h3 class="mt-2">MEDIDA DE COMBUSTIBLE</h3>
    <div class="mat-elevation-z8">
      <div mat-dialog-actions>
        <button  mat-raised-button color="accent" (click)="nuevaMedida()">NUEVA MEDIDA</button>
        
    </div>
      <table style="width: 100%;" border="1" cellpadding="2">
        <thead>
          <tr class="table-dark">
            <th>FECHA</th>
            <!-- <th>HORA</th> -->
            <th>B5</th>
            <th>G-90</th>
            <th>G-95</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listMedido">
            <td class="fecha">
              <p><strong>FECHA:</strong>{{item.fecham}} </p>
              <p> <strong>HORA: </strong> {{item.horam}}</p>
            </td>
            <td>
              <p><strong>CM:</strong>{{item.b5m | number :'0.1'}} </p>
              <p> <strong>GAL: </strong> {{item.b5m | petroleo | number :'0.2' }}</p>
            </td>
            <td>
              <p><strong>CM:</strong>{{item.g90m | number :'0.1'}} </p>
              <p> <strong>GAL: </strong> {{item.g90m | noventa | number :'0.2'}}</p>
            </td>
            <td>
              <p><strong>CM:</strong>{{item.g95m | number :'0.1'}} </p>
              <p> <strong>GAL: </strong> {{item.g95m| noventaycinco | number :'0.2'}}</p>
            </td>
            <!-- <td><button mat-icon-button>
                  <mat-icon>edit</mat-icon>
                </button> 
            </td> -->
          </tr>
        </tbody>
      </table>

    </div>
  </div>

  <!-- <ng-template #loading>
        loading....
      </ng-template> -->
</div>
