<!-- <div class="mat-elevation-z8">
    <div class="example-form">

        <mat-form-field class="example-full-width">
            <mat-label>PETROLEO</mat-label>
            <input type="number" matInput [(ngModel)]="newedida.b5m">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>GASOLINA 90</mat-label>
            <input type="number" matInput [(ngModel)]="newedida.g90m">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>GASOLINA 95</mat-label>
            <input type="number" matInput [(ngModel)]="newedida.g95m">
        </mat-form-field>   
    </div>
<div mat-dialog-actions>
    <button (click)="cancelar()" mat-raised-button color="accent">SALIR</button>
    <button mat-raised-button color="primary" (click)="guardarMedida()" cdkFocusInitial>ACEPTAR</button>
</div>
  </div> -->
  <div class="mat-elevation-z8">
    <form fxLayout="column" [formGroup]="newedida" (submit)="guardarMedida(newedida.value)">
      <ng-template matStepLabel>MEDIDA DE COMBUSTIBLE</ng-template>
      <mat-form-field appearance="outline" fxFlex="100" class="example-full-width">
        <mat-label>PETROLEO</mat-label>
        <input matInput type="number" formControlName="b5m" name="b5m" required>
        <mat-error>ES REQUERIDO</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="100" class="example-full-width">
          <mat-label>GASOLINA 90</mat-label>
          <input matInput type="number" formControlName="g90m" name="g90m" required>
          <mat-error>ES REQUERIDO</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" fxFlex="100" class="example-full-width">
          <mat-label>GASOLINA 95*</mat-label>
          <input matInput type="number" formControlName="g95m" name="g95m" required>
          <mat-error>ES REQUERIDO</mat-error>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="center center">
          <button class="mr-8" mat-raised-button type="button" color="success">
              CANCELAR
          </button>
          <button mat-raised-button [disabled]="!newedida.valid"  type="submit" color="primary">
              ACEPTAR
          </button>
      </div>
  
    </form>
  </div>