.example-form {
    min-width: 150px;
    margin-top: 20px;
    // max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 90%;
    margin: 0 20px 0 20px;
  }
  button {
      margin: 0 20px 15px 20px;
  }