<mat-toolbar color="primary" (click)="drawer.toggle()" class="navbar">
    <span color="primary"><mat-icon>menu</mat-icon></span>
    <span>GRIFO ASTO</span>
    <span class="example-spacer"></span>
    <a routerLink="/" >
        <span><mat-icon>exit</mat-icon></span></a>
        
    </mat-toolbar>

<mat-drawer-container class="example-container" hasBackdrop="true">
	<mat-drawer #drawer mode="side">
     <mat-nav-list>
                <a mat-list-item routerLink="/Grifo/Administrador/Listado"> <mat-icon>book</mat-icon>LISTADO </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/Grifo/Inicio/Diario"> <mat-icon>settings_input_svideo</mat-icon>CORTES </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/Grifo/Medir/Mediciones"> <mat-icon>opacity</mat-icon>MEDICIÓN </a>
            </mat-nav-list>
            <mat-nav-list>
                <a mat-list-item routerLink="/Grifo/Descarga/Enlistar"> <mat-icon>download</mat-icon>DESCARGAS </a>
            </mat-nav-list>

  </mat-drawer>
	<mat-drawer-content>
        <router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container>
