.navbar{
    position: sticky;
    top: 0;
    z-index: 100;
    mat-icon {
        cursor: pointer;
    }
}
mat-sidenav {
    width: 200px;
    cursor: pointer;
    // background-color: #451e89;
    position: fixed;
    top: 55px;
    z-index: 100;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .active {
    border: 1px solid #f5f5f5;
  }
  .example-container {  
    // margin: 12px;
    border: 1px solid #555;
  }
  
//   mat-drawer-content {
//     // padding: 12px;
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//   }