<div class="mat-elevation-z8">
    <div class="lista">
      <h3 class="mt-2">MEDIDA DE COMBUSTIBLE</h3>
      <div class="mat-elevation-z8">
        <div mat-dialog-actions class="botones">
          <button  mat-raised-button color="accent" (click)="nuevaDescarga()">NUEVA DESCARGA</button>
          <button  mat-raised-button color="primary" style="cursor: pointer" (click)="exportexcel()">DESCARGAR EXEL</button>
          
      </div>
        <table style="width: 100%;" border="1" cellpadding="2" id="excel-table">
          <thead>
            <tr class="table-dark">
              <th>FECHA</th>
              <!-- <th>HORA</th> -->
              <th>B5</th>
              <th>G-90</th>
              <th>G-95</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listDescarga | paginate: { itemsPerPage: 10, currentPage: p }">
              <td class="fecha">
                <p>{{item.fecham}} </p>
                <p> {{item.horam}}</p>
              </td>
              <td>
                <p>{{item.b5m}}</p>
              </td>
              <td>
                <p>{{item.g90m}} </p>
              </td>
              <td>
                <p>{{item.g95m}} </p>
              </td>
              <!-- <td><button mat-icon-button>
                    <mat-icon>edit</mat-icon>
                  </button> 
              </td> -->
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>

      </div>
    </div>
  
    <!-- <ng-template #loading>
          loading....
        </ng-template> -->
  </div>
  