.container {
    background: url(../../../assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10;
    height: 100%;
}

.titulo {
    text-align: center;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    img {        
        margin-top: 20px;
        height: 195px;
        width: 220px;
    }
}

.login {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

.example-card {
    // background: #fff;
    padding: 50px!important;
}

.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    .span {
        color: blue!important;
        border-bottom-color: blue!important;
        cursor: pointer;
    }
}
.centro {
margin-left: 40px;
}
@media screen and (max-width:640px) {
    .container { 
        // margin-top: -10;
        height: 650px;
    }
    .logo {
        
        img {        
            margin-top: 0px;
            height: 95px;
            width: 100px;
        }
    }
}