<div class="container">
  <div class="logo">
        <img src="./assets/img/logo2.png" alt="">
    </div>
  <!-- <h3 class="titulo">SISTEMA DE REGISTRO DE CORTE DE GRIFO ASTO</h3> -->

  <div class="login">
    <mat-card class="example-card mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>LOGIN</mat-card-title>
        <!-- <div class="logo">
          <img src="../../../assets/img/logo.png" alt="">
        </div> -->
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="validatingForm" (ngSubmit)="loginPersonal(validatingForm.value)">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Nombre" formControlName="nombre" name="nombre" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="DNI" color="primary" formControlName="dni" type="password" name="dni"
                    required>
                </mat-form-field>
              </td>
            </tr>
          </table>
          <div class="centro">
            <button mat-raised-button type="submit" [disabled]="!validatingForm.valid" color="primary">INGRESAR</button>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
      </mat-card-actions>
    </mat-card>
    <!-- <h4 class="titulo">SISTEMA DE ENCUESTA DE DOCENTES DE INGENIERIA DE SISTEMAS - UNSCH</h4> -->
  </div>
</div>
<!-- <div class="footer">
    <p class="text-center" (click)="Administrador()">
        Acceso para cliente <span style="color:red; cursor: pointer;">login</span>
    </p>
</div> -->
<!-- <app-footer></app-footer> -->
