<div class="mat-elevation-z8 contenedor">
    <div class="surtidores mat-elevation-z8">
      <mat-card class="example-card mt-2" *ngFor="let item of surtidores">
        <mat-card-header>
          <mat-icon class="material-icons orange600">{{item.icon}}</mat-icon>
          <mat-card-title>{{item.titulo}}</mat-card-title>
          <mat-card-subtitle>{{item.tipo}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            Foto
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-mini-fab color="primary" *ngIf="item.mostrar" (click)="nuevoCorte()"> <mat-icon>add</mat-icon> </button> -->
          <button mat-mini-fab color="success" (click)="enlistar(item)"><mat-icon>waves</mat-icon> </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="lista">
      <h3 class="mt-2">{{cabezara}}</h3>
      <h3 class="mt-2">{{tipocabeza}}</h3>
      <!-- <mat-form-field>
        <mat-label>BUSCAR</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field> -->
      <div class="tablasseparadas">
      <div class="mat-elevation-z8">
        <table style="width: 100%;" border="1" cellpadding="2">
          <thead>
            <tr class="table-dark">
              <th>Persona</th>
              <th>Fecha</th>
              <th>Soles</th>
              <th>Galones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listCortedias">
              <td class="persona">{{item.persona}}</td>
              <td class="fecha">
                <p><strong>FECHA:</strong>{{item.fecha}} </p>
                <p> <strong>ENTRADA: </strong> {{item.horaentrada}}</p>
                <p *ngIf="item.horasalida ==! ''"> <strong>SALIDA: </strong> {{item.horasalida}}</p>
              </td>
              <td>
                <p><strong>ENTRADA:</strong>{{item.solesentrada}} </p>
                <p *ngIf="item.solessalida"> <strong>SALIDA: </strong> {{item.solessalida}}</p>
                <p *ngIf="item.total"> <strong>TOTAL: </strong> {{item.total | number:'.1-3'}}</p> 
  
              </td>     
              <td>
                <p *ngIf="item.galinicio"><strong>ENTRADA:</strong>{{item.galinicio}} </p>
                <p *ngIf="item.galfin"> <strong>SALIDA: </strong> {{item.galfin}}</p>
                <p *ngIf="item.totalgal"> <strong>TOTAL: </strong> {{item.totalgal | number:'.1-3'}}</p>
              </td>         
            </tr>
          </tbody>
        </table> 
      </div>
      <div class="mat-elevation-z8">
        <table style="width: 100%;" border="1" cellpadding="2">
          <thead>
            <tr class="table-dark">
              <th>Persona</th>
              <th>Fecha</th>
              <th>Soles</th>
              <th>Galones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of listCortenoches">
              <td class="persona">{{item.persona}}</td>
              <td class="fecha">
                <p><strong>FECHA:</strong>{{item.fecha}} </p>
                <p> <strong>ENTRADA: </strong> {{item.horaentrada}}</p>
                <p *ngIf="item.horasalida ==! ''"> <strong>SALIDA: </strong> {{item.horasalida}}</p>
              </td>
              <td>
                <p><strong>ENTRADA:</strong>{{item.solesentrada}} </p>
                <p *ngIf="item.solessalida"> <strong>SALIDA: </strong> {{item.solessalida}}</p>
                <p *ngIf="item.total"> <strong>TOTAL: </strong> {{item.total | number:'.1-3'}}</p>  
              </td>        
              <td>
                <p *ngIf="item.galinicio"><strong>ENTRADA:</strong>{{item.galinicio}} </p>
                <p *ngIf="item.galfin"> <strong>SALIDA: </strong> {{item.galfin}}</p>
                <p *ngIf="item.totalgal"> <strong>TOTAL: </strong> {{item.totalgal | number:'.1-3'}}</p>
              </td>      
            </tr>
          </tbody>
        </table>
  
      </div>
    </div>
    </div>
  
    <!-- <ng-template #loading>
        loading....
      </ng-template> -->
  </div>
  