<div class="example-container">
    <mat-toolbar>
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">FIN DE CORTE</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>
    <mat-form-field>
        <mat-label>Soles salida</mat-label>
        <input type="number" matInput [(ngModel)]="nuevoCorte.solessalida">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Galones salida</mat-label>
        <input type="number" matInput [(ngModel)]="nuevoCorte.galfin">
    </mat-form-field>
    <!-- <mat-form-field>
        <mat-label>Galones</mat-label>
        <input type="number" matInput [(ngModel)]="nuevoCorte.galones">
    </mat-form-field> -->
    <!-- <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="nuevoCorte.fecha">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field> -->
</div>
<div mat-dialog-actions>
    <button (click)="onNoClick()" mat-raised-button color="accent">SALIR</button>
    <button [mat-dialog-close]="nuevoCorte" mat-raised-button color="primary" cdkFocusInitial>ACEPTAR</button>
</div>