<p>
  <mat-toolbar color="primary">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>GRIFO ASTO</span>
    <span class="example-spacer"></span>
    <a routerLink="/Grifo/Inicio/Precio" routerLinkActive="active">
      <button mat-button>
        PRECIOS
        <!-- <mat-icon>favorite</mat-icon> -->
      </button>
    </a>

    <a routerLink="/" routerLinkActive="active">
      <button mat-button >
        REPORTES
        <!-- <mat-icon>share</mat-icon> -->
      </button>
    </a>
  </mat-toolbar>
</p>
