/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mt-5{
 margin-top: 5px;
}
.mt-2{
    margin-top: 2px;
   }
   h3 {
    text-align: center;
    margin-top: 5px;
    font-weight: 700;
}