.contenedor {
  display: grid;
  grid-template-columns: 20% 80%;
  // justify-content: center;
  justify-content: stretch;


}
h3 {
    text-align: center;
    font-size: 2vw;
    font-weight: 700;
}
.surtidores {
  height: 900px;
  justify-content: center;
  margin: 5px;
  overflow-y: scroll;
}
.lista {
    margin: 5px;
}

@media screen and (min-width:1024px) {}

@media screen and (max-width:1024px) and (min-width:680px) {
  // .contenedor {

  //   grid-template-columns: 30% 60%;
  // }
}

@media screen and (max-width:680px) {
  .contenedor {
    grid-template-columns: 20% 80%;
  }
  .example-card{
    padding: 0!important;
    margin: 15px 0 15px 0;
  }
  .mat-card-header-text {
    margin: 0;
}
.mat-card-title {
  font-size: 11px;
}
  mat-card {
   margin: 3px 0 3px 0;
  }
  tbody {
    font-size: 9px;
  }
  // .lista {
  //   display: none;
  // }
}


.example-card {
  max-width: 100%;
}

.orange600 { color: #FB8C00; }
table {
    width: 100%;
   
    
  }
  .mat-form-field {
    font-size: 14px;
    border: double 1px black;
    border-radius: 10px;
    width: 100%;
    color: blue;
    margin: 10px;
  }
  .mat-form-field-label{
    color: red!important;
    font-weight: 700!important;
}
strong{
  color: #FB8C00;
  font-weight: 700;
}
button {
  margin: 10px;
}